demo-rollup-readme.sh
/target

.idea/

target/

.DS_Store

demo_data/
/.vscode/*

/docker/credentials/*
!/docker/credentials/bridge-0.addr
!/docker/credentials/bridge-0.key

adapters/solana/libyellowstone_grpc_geyser.dylib
examples/test-data/genesis/benchmark/accounts.json
examples/demo-rollup/demo_rollup_config.toml
